html, body{
    font-family: 'Roboto','Helvetica', sans-serif;
}


t
button{

    margin: 0;
    background-color:blue;
    color: white;
    font-size: 22px;
    margin-left: 30%


h{
    text-align: left;
    padding: 5px;
}

td{
    padding: 5px;
}
h1{
    border-bottom-style: solid;
    border-bottom-color: red;
    text-align: center;
    border-bottom-left-radius: 350px;
    border-bottom-right-radius: 350px;
}

table{
    border: 1px solid #000000;
}
